@font-face {
  font-family: 'wiatr';
  src: url('czcionki/czcionka_www_wiatr.eot');
  src: url('czcionki/czcionka_www_wiatr.eot?#iefix') format('embedded-opentype'), url('czcionki/czcionka_www_wiatr.woff') format('woff'), url('czcionki/czcionka_www_wiatr.ttf') format('truetype'), url('czcionki/czcionka_www_wiatr.svg#wiatr') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'jezioro';
  src: url('czcionki/czcionka_www_jezioro.eot');
  src: url('czcionki/czcionka_www_jezioro.eot?#iefix') format('embedded-opentype'), url('czcionki/czcionka_www_jezioro.woff') format('woff'), url('czcionki/czcionka_www_jezioro.ttf') format('truetype'), url('czcionki/czcionka_www_jezioro.svg#jezioro') format('svg');
  font-weight: normal;
  font-style: normal;
}

}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  background: rgb(149, 194, 215);
}

a {
  text-decoration: none;
}

.tytuł-miniatury {
  background: rgb(96, 125, 139);
  color: rgb(202, 238, 255);
  display: block;
  margin: 0;
  padding: 4px 10px;
  font-size: 18px;
}

.obraz-miniatury {
  width: 100%;
  display: block;
}

.element-listy {
  display: inline-block;
  min-width: 120px;
  max-width: 120px;
  border: 1px solid rgb(100%, 100%, 100%);
  border: 1px solid rgba(100%, 100%, 100%, 0.8);
  transition: transform 133ms ease-in-out;
}

.element-listy:hover {
  transform: scale(1.2);
}

.lista-miniatur {
  flex: 0 1 auto;
  list-style: none;
  padding: 20px 0;
  white-space: nowrap;
  overflow-x: auto;
  order: 2;
  display: flex;
  justify-content: space-between;
}

.tekst-logo {
  background: white;
  text-align: center;
  text-transform: uppercase;
  font-family: jezioro;
  font-size: 37px;
}

.duży-obraz {
  width: 90%;
}

.główny-tytuł {
  flex: 0 1 auto;
}

.główna-treść {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.kontener-dużego-obrazu {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ramka-dużego-obrazu {
  text-align: center;
  position: relative;
  transition: transform 333ms cubic-bezier(1,0.06,0.28,1);
}

.bardzo-mały-obraz {
  transform: scale(0.001);
  transition: transform 0ms;
}

.tytuł-dużego-obrazu {
  color: white;
  font-size: 40px;
  font-family: wiatr;
  position: absolute;
  bottom: -16px;
  left: 4px;
  text-shadow: rgba(0, 0, 0, 0.9) 1px 2px 9px;
}

.ukryty-duży-obraz .kontener-dużego-obrazu {
display: none;
}

.ukryty-duży-obraz .lista-miniatur {
  flex-direction: column;
  align-items: center;
}

.ukryty-duży-obraz .element-listy {
  max-width: 80%;
}

@media all and (min-width: 768px) {
  .główna-treść {
    flex-direction: row;
    overflow: hidden;
  }
  .lista-miniatur {
    flex-direction: column;
    order: 0;
    margin-left: 20px;
    padding: 0 35px;
  }
  .element-listy {
    max-width: 260px;
  }
  .element-listy+.element-listy {
    margin-top: 20px;
  }
}
